.div-oeuvre {display: flex}
.fiche-oeuvre { flex-basis: 33.33%;}

.oeuvre-cover{
  position: relative;
  cursor: pointer;
  border: solid 1px rgb(188, 188, 188);
  margin: 15px 15% !important;
  box-shadow: 0 2px 5px rgba(50,50,50,.28);

  img {
    width: 100%;
    display: block;
  }
}

.oeuvre-fiche-btn{
  display: flex;
  justify-content: center;

  a{ font-size: 16px;}

  :first-child {
    border-right: none;
    border-radius: 7px 0 0 7px;
  }

  :last-child {
    border-left: 1px solid #02b875;
    border-radius:  0 7px 7px 0;
  }
}

.oeuvre-fiche-resume {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100%;
  margin: 5px 15px;
  padding: 5px;
  border: 1px solid gainsboro;
  border-radius: 9px;
  background-color: white;
}

.oeuvre-resume-header {
  display: flex;
  align-content: center;

  .oeuvre-resume-titre {
    font-weight: 700;
    color: #02b875;
    flex: 1;
  }

  a {
    margin-right: 7px;
    color: #21b874;
    font-weight: 700;
  }

  button{ margin-right: 5px}
}

.noCursor { cursor: initial}

.oeuvre-cadre{
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 3%;
  border: 2px solid #02b875;
}

.select_chapitre {
  box-shadow: 0 0 10px 5px #919292;
}

.oeuvre-titre{
  flex: 1;
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.oeuvre-genre {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #02b875;
  padding: 1px 5px;
  font-weight: bold;
  color: white;
}

.cadre-link{
  display: flex;
  align-items: center;
  background-color: white;
  padding: 3px 5px;
  border-radius: 7px;
  line-height: 1;

  img{height: 25px;}
  > :not(:last-child){margin-right: 4px;}
}

.message-cover-image{
  height: 250px;
  width: 150px;
  display: inline-block;
}

/* Brouillon */
.cadre-brouillon {
  padding: 2px 4px 1px 2px;
  height: auto !important;
  position: relative;

  z-index: 1000;
}

@media only screen and (max-width: 767px){
  .oeuvre-cover{ margin: 15px 10px !important; }
  .oeuvre-fiche-resume {margin: 0 15px;}
}

@media only screen and (max-width: 370px){
  .oeuvre-fiche-resume {margin: 10px 15px;}
}