.div-navigation {
  display: inline-block;
  border: 1px solid gray;
  background-color: white;
  margin: 0 auto;
  padding: 3px;
  border-radius: 7px;

  button{
    height: 24px;
    background-color: #FFFFFF;
    border: none;
  }

  input{
    width: 18px;
    height: 20px;
  }

  .maximum{color: #b9b5b5}

  label {margin: 0 !important;}
}