@use '../variables';

$colors : (
  "primary-100" : variables.$primary-100,
  "primary-300" : variables.$primary-300,
  "primary-400" : variables.$primary-400,
  "primary" : variables.$primary,
  "primary-600" : variables.$primary-600,

  "success" : variables.$success,
  "danger-300" : variables.$danger-300,
  "danger" : variables.$danger,
  "warning" : variables.$warning,
  "info" : variables.$info,
  
  "blue-300" : variables.$blue-300,
  "blue" : variables.$blue,

  "green-300" : variables.$green-300,
  "green" : variables.$green,
  
  "yellow" : variables.$yellow,
  
  "neutral-100" : variables.$neutral-100,
  "neutral-200" : variables.$neutral-200,
  "neutral-300" : variables.$neutral-300,
  "neutral-400" : variables.$neutral-400,
  "neutral-500" : variables.$neutral-500,
  "neutral-600" : variables.$neutral-600,
  "neutral-700" : variables.$neutral-700,
  "neutral-800" : variables.$neutral-800,
  "neutral-900" : variables.$neutral-900,

);

@each $color_name, $color in $colors {
  .color-#{$color_name}, .color-#{$color_name}-hover:hover {
    color: $color
  }

  .bg-#{$color_name}, .bg-#{$color_name}-hover:hover { 
    background-color: $color;
  }

  .border-#{$color_name} {
    border: 1px solid $color;
  }
}
