@use 'sass:map';

$titles: (
  'h1': var(--h1-fs),
  'h2': var(--h2-fs),
  'h3': var(--h3-fs),
  'h4': var(--h4-fs),
);

@each $title, $size in $titles {
  .#{$title} {
    font-size: $size;
    font-weight: 400;

    & * {
      font-size: $size;
    }
  }
}

.h1 {
  color: var(--primary-400);
}
.h2 {
  color: var(--red);
}
.h3 {
  color: var(--blue-300);
}
.h4 {
  color: var(--green);
}
