nav {
  display: flex;
  height: 60px;
  padding: 10px;
}

.side-left{
  line-height: 60px;
  margin-left: 20px;

  > a {
    display: flex;
    align-items: center;
  }

  .title-left{
    margin-left: 7px;
    font-size: 21px;
    font-family: lobsterTwo, sans-serif;
    color: #fdfffd !important;
  }

  .title-right{
    font-size: 26px;
    font-weight: 700;
    color: #02b875 !important;
    margin-left: -3px;
  }
}

.side-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex: 1;

  .btn-ghosty {
    color: white;
    background-color: transparent;
    border: 1px solid white;
  }

  .btn-ghosty:hover {
    background-color: white;
    color: #02b875;
  }

  .dropdown{margin-right: 10px}
  .dropdown-content {top:58px}
  .link-hamburger {position: initial;}
}

.hamburger{
  box-shadow: 0 5px 0 2px #02b875, 0 15px 0 2px #02b875, 0 25px 0 2px #02b875;
  position: absolute;
  width: 30px;
}

.link-hamburger {
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-block;
  z-index: 2;
  box-sizing: content-box;
  width: 30px;
  height: 30px !important;
  padding: 15px 20px;
  transition: background-color linear 500ms;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: #f4f6f3;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content input[type=submit] {
  background-color: #f4f6f3;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.link-hamburger:hover, .link-hamburger.open { background-color: #f4f6f3;}
.dropdown-content a:hover, .dropdown-content input[type=submit]:hover{background-color: #02b875}
.separator { border-bottom: 1px solid #afaeaebf; }

/* ---------- */
/* RESPONSIVE */
/* ---------- */
@media only screen and (max-width: 767px){
  .nav {
    height: 55px;
    margin-bottom: 0;

    .side-left {margin: 0;}

    .text-link{
      padding: 6px 15px;
      margin-right: 15px;
    }
  }
}

@media screen and (max-width: 640px) {
  .nav-accueil {
    height: 80px;
    padding: 0 30px;

    .link-hamburger { display: inherit !important; }
    .nav-accueil-link {
      display: none;
      position: absolute;
      top: 69px;
      right: 10px;
      background-color: #f4f6f3;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      z-index: 1;
    }

    .nav-link {
      display: block;
      text-align: right;
      height: inherit;
      line-height: inherit;
      font-size: 16px;
      color: black;
      padding: 12px 16px;
    }
  }
}
