.div-first {
  display: flex;
  flex-direction: column;
  background-size: cover !important;
  background-position: center !important;
  color: white;
  min-height: 30vh;

  .first-title {
    margin: 20px 3%;
  }

  .first-content {
    margin: 0 3% 15px;
  }
}

.div-second {
  padding: 20px 0 95px;
  margin: 0 10%;
}