.info-roman { border: none !important; }

.info-header{
  display: flex;
  align-items: center;
  padding: 40px 20px;
  border-radius: 0.2rem 0.2rem 0 0;
  background-size: cover !important;
  background-position: center !important;

  .info-titre{
    flex: 1;
    font-size: 25px;
    font-weight: 700;
    color: white;
  }
}

.info-resume {
  word-wrap: break-word;
  margin-top: 10px;
}

.info-auth { margin: -25px 25px 25px -25px;}