.h-notification{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.tableau{
  border-collapse: collapse;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  border: 1px solid $primary-color;
  .empty-result {padding: 7% }
  tr td:first-child,tr td:last-child{text-align: center}
}

.tableau th{
  text-align: center;
  padding: 1em;
  background-color: $primary-color;
  color: white;
}

.tableau tr{
  height: 30px;
  line-height: 15px;
}

.tableau td{
  img{height: 10px}
}

.message-new{font-weight: 800}
.colonne-check {width: 50px;}
.colonne-date {width:100px}
.colonne-puce{width: 10px}

.tableau tr:nth-child(even){ background-color: #ffffff;}
.tableau tr:nth-child(odd){background-color: #eff0f0;}
.message-check{background-color: #c3eadc !important;}
.tr-message:hover{
  background-color: #83f581 !important;
  cursor: pointer;
}