.principe-content {
  transition: transform linear 0.6s;
  height: 100%
}

.principe-last {margin-bottom: 75px;}

.navbar-principe {
  transition: top 0.3s linear, background-color 0.3s linear;
  position: fixed;
  z-index: 1000;
  right:0;
  left: 0;
  top:0;
  padding-bottom: 10px;
}

.nav-secondaire {
  display: flex;
  margin: 0 30px;
  transition: transform linear 0.6s;

  a {
    text-align: center;
    margin: 0 10px;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    border-radius: 7px;
  }

  .principe-link-clicked {background-color: #10a065;}
  a:hover { background-color: #10a065; }
}

.hamburger-menu {
  width:30px;
  height:5px;
  top: 15px;
  right: 7px;
  background-color:#FFF;
  border-radius:5px;
  position:absolute;
}

.hamburger-menu:after, .hamburger-menu:before {
  content: '';
  width: 100%;
  height:5px;
  background-color:#FFF;
  position:absolute;
  border-radius:5px;
}

.hamburger-menu:after { top:10px;}
.hamburger-menu:before { top:20px;}

.navbar-moved {
  top: -67px;
  background-color: #02b875;
}

.row-principe {
  display: flex;
  flex:1;
  height: 100vh;
  flex-direction: column;

  p, li { font-size: 22px;}
}

.row-title {
  max-height: 350px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 75px;
  color: white;

  h1 {
    padding: 50px 10% 0 10%;
    font-size: 65px;
  }

  p { padding: 0 10%;}
}

.row-content {
  display: flex;
  flex: 1;
  justify-content: center;

  p, li { font-size: 20px; }
}

.aide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 30px 40px;
}

.img-principe img{
  min-width: 0;
  min-height: 0;
  max-height: 50vh;
  overflow: hidden;
}

.theme-principe {
  background: url(/images/principe/principe.jpg) center fixed;
  background-size: cover;
}

.theme-cycle {
  background: url(/images/principe/cycle.jpg) center fixed;
  background-size: cover;
}

.theme-vote {
  background: url(/images/principe/vote.jpg) center fixed;
  background-size: cover;
}
.theme-debut {
  background: url(/images/principe/debut.jpg) center fixed;
  background-size: cover;
}

.theme-suite {
  background: url(/images/principe/suite.jpg) center fixed;
  background-size: cover;
}

.theme-cover {
  background: url(/images/principe/cover.jpg) center fixed;
  background-size: cover;
}

.principe-footer { bottom: -75px}
.ul-vote { list-style-type: none; }

.aide-avertissement {
  margin: 40px 0;
  font-size: 30px;
  color: #fa625f;
  //Last Color #ef0505
}

// Bouton Inscription
.row-btn-inscription {
  text-align: center;
  margin: 25px 0 15px 0;
}

.btn-inscription {
  border: 2px solid #02b875;
  margin: 0 8px;
  border-radius: 7px;
  padding: 10px 30px;
  font-size: 20px;
  color: #02b875;
  transition: background-color linear 0.3s, color linear 0.3s;
}

.btn-inscription:hover {
  color: white;
  background-color: #02b875;
}

.top-btn-inscription {
  border: 2px solid #ffffff;
  color: #ffffff;
}

.side-menu {transform: translateX(250px) !important;}
.nav-secondaire-moved {transform: translateX(0px) !important;}

//RESPONSIVE
@media only screen and (max-width: 767px){
  html, body {overflow-x: hidden}
  .principe-content {position: relative}

  .navbar-principe {
    height: 55px;
    background-color: #02b875;

    [data-show=inscription] {margin-right: 40px}
  }

  .nav-secondaire {
    border-top: 1px solid white;
    position: relative;
    background-color: #02b875;
    margin: 0;
    width: 250px;
    transform: translateX(-250px);
    height: 700px;
    flex-direction: column;
    align-items: flex-start;

    a{margin-top: 5px}
  }

  .row-principe, .row-content{
    margin: 0;
    flex-direction: column;
  }

  .row-content{
    padding: 0;
    flex: none;
  }

  .row-principe { height: initial;}
  .row-title {
    padding-top:0;

    h1 {
      padding: 50px 5% 0 5%;
      font-size: 40px;
    }

    p {
      padding: 0 10%;
      font-size: 15px;
    }
  }

  .principe {
    p, li {font-size: 17px;}
  }

  .aide-content {
    margin: 10px 15px;
    flex: initial;

    h1 {font-size: 26px}
    p, li {font-size: 17px;}
  }

  .text-content {order:1;}
  .img-content {order:2;}
  .btn-inscription {margin: 15px 0}

  .aide-avertissement{
    margin: 0;
    font-size: 26px;
  }

  .btn-inscription {
    margin: 0 3px;
    padding: 10px 20px;
    font-size: 15px;
  }
}