.profil-top{display: flex;}

.form-avatar {
  position: relative;
  bottom: -60px;
  margin: 0 5%;
  button {border-radius: 4px !important;}

  img {
    height: 250px;
    padding: 0 !important;
    border-radius: 125px;
    border: none;
  }

  button {
    z-index: 2;
    width: 100px;
    margin: 0 auto;
    position: relative;
    bottom: 60px;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 2px;
  }
}

.title-profil {
  margin: auto 25px;
  font-size: 50px;
}

.profil-bot {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .profil-right {flex: 1}
  strong{font-size: 18px}

  .profil-left {
    width: 325px;
    margin-top: 70px;
  }
}

.btn-profil {margin: 0 !important;}