.select-label-out {
  .input-compact {
    padding: 12px 6px 12px 6px;
    min-width: 70px;
    width: auto;
  }

  .label-out {
    position: initial;
    font-size: initial;
    color: black;
    margin-left: 10px;
    line-height: 43px;
  }

  .input_message {
    margin-left: 10px;
    position: initial;
    font-size: initial;
  }
}