.div-user {
  display: flex ;
  align-items: center;

  .div-photo{
    margin: 0 25px 0 10%;

    img{
      height: 100px;
      border-radius: 50px;

    }
  }

  .div-menu {
    display: flex;
    flex-direction: column;
    flex: 1;

    a, a:visited, a:hover { color: white !important; }
    .header-pseudo {
      font-weight: 400;
      font-size: 20px;
    }
  }
}