.content {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.div-principale {
  background: url(/images/accueil.jpg) bottom;
  background-size: cover;
  background-position: 50% 90% !important;

  .div-title {
    color:white;
    margin: 10%;

    h1 {
      font-family: inherit;
      font-size: 36px;
      font-weight: 500;
      line-height: 1.1;
      color: inherit;
      margin: .67em 20px .67em 10px;
      box-sizing: border-box;
    }

    a {
      padding: 25px 50px;
      font-size: 20px;
    }

    a:hover {
      background: none !important;
      color: #FFFFFF !important;
      border:2px solid #FFFFFF !important;
    }
  }
}

.div-secondaire {
  padding-bottom: 75px;
  margin-top: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.div-add {
  margin: 0 15px;
}

@media only screen and (max-width: 767px){
  .div-connexion {margin: 5%;}
  footer{font-size: 18px !important;}
}

@import "home_unlog";
@import "home_log";