.link-underline {
  color: var(--primary-300);

  &:hover {
    text-decoration: underline;
  }
}

.link-bg {
  color: var(--neutral-800);
  background-color: transparent;
  transition:
    color linear 350ms,
    background-color linear 350ms;

  &:hover {
    background-color: var(--primary);
  }
  &:hover,
  &:hover * {
    color: var(--neutral-100);
  }
}

.underline,
.underline-hover:hover {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}
