@use 'variables';
@use 'layout/reset';

@use 'components/loader';

@use 'layout/table';
@use 'layout/title';

@use 'layout/inputs/input';
@use 'layout/inputs/input-search';
@use 'layout/buttons';
@use 'layout/colors';
@use 'layout/display';
@use 'layout/form';
@use 'layout/global';
@use 'layout/layout';
@use 'layout/link';
@use 'layout/root';

@use 'librairies/date_picker';
@use 'librairies/fontawesome';

@font-face {
    font-family: 'LobsterTwo';
    src: url('@/assets/fonts/LobsterTwo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

